{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load material_form %}

{% block css %}
<style>
  form {
    background-color: rgba(255, 255, 255, 0.397);
    background-blend-mode: color-dodge;
  }
  .form-text, label, .input-field>label{
    color: black;
    font-weight: 700;
  }
</style>
{% endblock %}

{% block content %}

<p class="form-text">{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% form form=form %}{% endform %}
  {% if redirect_field_value %}
  <input class="form-text" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
