@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/static/images/green_shopping_list.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-family: 'Roboto', sans-serif;
  
}

main {
  flex: 1 0 auto;
}

h1 {
  /* color: blue; */
  /* font-size: 500%; */
  font-family: 'Nanum Pen Script', cursive;
}
h2, h3, h4{
  /* font-size: 400%; */
  font-family: 'Nanum Pen Script', cursive;
}
h5 {
  /* font-size: 200%; */
  font-family: 'Nanum Pen Script', cursive;
}
p {
  font-size: 20px;
}

.left {
  float: none;
}

.buy_button {
  position: absolute;
  right: 41px;
  bottom: 33px;
}

.items_btn_container {
  padding: 20px;
  margin-bottom: 520px;
}

.login-panel {
    background-image: url("/static/images/green_shopping_list.jpg");
    background-size: cover; 
}
.login-panel .card-action{
  background: rgba(0, 0, 0, 0.6);
}

/* List cards */
.card {
  background-color: rgba(252, 87, 87, 0.3);
  color: #00345c;
  /* text-align: center; */
  /* line-height: -1; */
}

.card p {
  color: rgb(0, 38, 141);
  font-weight: 400;
}
.card span {
  color: rgb(0, 38, 141);
  font-size: 32px;
  font-weight: 800;
}

/* Item Card (Collapsible) */
.collapsible-body {
  background-color: rgba(252, 87, 87, 0.1);
  padding: 10px 30px;
}
.collapsible-body :active{
  background-color: rgba(252, 87, 87, 0.8);
}
.btn-floating.halfway-fab {
  position: absolute;
  right: 41px;
  bottom: 33px;
  vertical-align: baseline;
}
.material-symbols-outlined {
  line-height: -1;
  font-size: 32px;
  font-weight: 200;
}

/* Modals */
.modal{
  background: rgba(179, 54, 38, 0.6);
  color: white;
}
.modal-footer{
  background: rgba(223, 124, 111, 0.8);
}
.modal p{
  font-size: 150%;
  color: white;
}
.modal.h4 {
  font-family: 'Roboto', sans-serif;
}

/* Footer */
.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}
