body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/static/images/shopping_list_001.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  
}

main {
  flex: 1 0 auto;
}

h1 {
  color: blue;
  font-size: 500%;
  font-family: 'Nanum Pen Script', cursive;
}
h2, h3, h4 {
  font-size: 400%;
  font-family: 'Nanum Pen Script', cursive;
}

.left {
  float: none;
}

.collection-with-header {
  float: clear;
}
.collection-header {
  background-color: rgb(153, 144, 23, 0.6);
  color: rgb(0, 120, 150);
  opacity: 0.1;

}

.buy_button {
  position: absolute;
  right: 41px;
  bottom: 33px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 41px;
  bottom: 33px;
}
.items_btn_container {
  padding: 20px;
  margin-bottom: 520px;
}

.login-panel {
    background-image: url("/static/images/shopping-list.jpg");
    background-size: cover; 
}
.login-panel .card-action{
  background: rgba(0, 0, 0, 0.6);
}

/* List cards */
.card {
  background-color: rgba(252, 87, 87, 0.3);
  color: #00345c;
}
/* .card-content {
  opacity: 0.4;
} */


/* Modals */
.modal{
  background: rgba(179, 54, 38, 0.6);
  color: white;
}
.modal-footer{
  background: rgba(223, 124, 111, 0.8);
}

/* Footer */
.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}