body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  h1 {
    color: blue;
    font-size: 500%;
  }

.left {
    float: none;
}

.collection-with-header {
   float: clear;
}

.my-checkbox {
  height: 38px;
  width: 35px;
  background-color: transparent;
  border: 3px solid #5a5a5a;
  top: -4px;
  z-index: 0;
}