{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="light-blue-text text-darken-4 center">About the application:</h1>
</div>
<section>
    <p class="mymothenig">
        This is a Shopping List Application. Version 1.1<br>
        Author: Tomasz Woloszyn<br>
        Application was created to serve educational purposes only 
        and will not be used for any commercial use.<br>
        All elements and inages used in this project
        are subject to copyright protection.<br><br>
        For more informations please visit:<br>
        profile TomaszWoloszyn983 on https://github.com
        <br>
        or contact the Author:
        <br>
        tomaszwoloszyn983@gmail.com
        <br><br>
    </p>
</section>
{% endblock %}