{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Create List</h3>


<div class="row light-blue-text text-darken-4">
    <form class="col s12 " method="POST" action="{% url 'create_list' %}">
      {% csrf_token %}
      <div class="row ">
        <div class="input-field col s6 center-align">
          <input placeholder="Shopping List" id="lists_name" name="lists_name" type="text" class="validate" required>
          <label for="lists_name">Lists Name</label>
        </div>

        <div class="row">
            <divc class="col s12 center-align">
                <button type="submit" href="{% url 'lists' %}" class="btn-large light-blue darken-1">
                    Create List <i class="fas fa plus=square right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}