{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Items</h3>

<div class="row light-blue-text text-darken-4">
    <form class="col s12 " method="POST" action="{% url 'add_item' %}">
      {% csrf_token %}
      <div class="row ">
        <div class="input-field col s6 center-align">
          {{ item_form.as_p }}
        </div>

        <div class="row">
            <divc class="col s12 center-align">
                <button type="submit" href="{% url 'lists' %}" class="btn-large light-blue darken-1">
                    Add Item <i class="fas fa plus=square right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>


{% endblock %}