{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Items</h3>

<div class="row light-blue-text text-darken-4">
  {% for message in messages %}
  {%if "invalid_slug" in message.tags %}
      <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
  {% endif %}
  {% endfor %}
  
  <!-- This conditional seems not to be needed any more
      This template will only serve the unauthorized user -->
  <form class="col s12 " method="POST" action="{% url 'add_item' slug %}">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s6 center-align">
        {{ item_form.as_p }}
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large light-blue darken-1">
          Add Item <i class="fas fa plus=square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block js %}
<script>
  let itemName = document.getElementById("id_name");
  let slug = document.getElementById("id_slug");
  itemName?.addEventListener("keyup", convertToSlug);
  slug?.addEventListener("keyup", convertToSlug);

  function convertToSlug() {
    slug.value = itemName.value.toLowerCase()
               .replace(/ /g, '-')
               .replace(/[^\w-]+/g, '');
  }
</script>
{% endblock %}