{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Home</h3>

<div>
    <h4 class="light-blue-text text-darken-4 laft">Recent lists</h4>
    <ul>
        <li>Temporaty list #1</li>
        <li>Temporaty list #2</li>
        <li>Temporaty list #3</li>
    </ul>
</div>
    

<div class="row">
    <div class="col s12 center-align">
        <a href="{% url 'addItem' %}" class="btn-large light-blue darken-2">
            Create new List <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>



{% endblock %}