{% extends "base.html" %}
{% block content %}

<!-- Header -->
<section>
  <h1 class="light-blue-text text-darken-4 center" id="home-page-header">Shopping List Application</h1>
</section>

<!-- Page content -->
<div class="row">
  {% if user.is_authenticated %}
  <h2 class="center">Choose one of the list below or click "Go To Your Lists" button to manage your lists.</h2>
    {% for list in lists|slice:":3" %}
    <div class="col s12 m12">
      <div class="card hoverable accent-3 darken-1">
        <div class="card-content">
          <a href="{% url 'show_list_items' list.id list.slug %}">
            <span class="card-title">{{ list.name }}</span>
            <p>Created on {{ list.create_date }}</p>
          </a>
        </div>
      </div>
    </div>
    {% empty %}
      <h2>No recently added lists! Go to the lists section to create a new Shopping List</h2>
    {% endfor %}
  {% else %}
  <div class="center">
    <a href="{% url 'account_login' %}" class="center home-page-text">Click to sign in.</a>
    <div class="home-page-image center"></div>
  </div>
  {% endif %}
</div>

<!-- Go to the list section button -->
{% if user.is_authenticated %}
<div class="row">
  <div class="col s12 center-align">
    <a href="{% url 'lists' %}" class="btn-large light-blue darken-2">
      Go to your lists
    </a>
  </div>
</div>
{% endif %} 
{% endblock %}
