{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Items</h3>

<div class="container_fluid">
    <div class="row">
        <div class="col-12 mt-1 center">
            <div class="row">
                {%if "deleteitem" in message.tags %}
                    <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
                {% endif %}
                {%if "updateitem" in message.tags %}
                    <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
                {% endif %}
                <ul class="collection with-header, col-6 mt-1 center">
<!-- Items List: Items that are NOT marked as bought -->
                    {% for item in itemsextended %}
                    {% if not item.bought %}
                        <li class="col s12 m12">
                            <div class="card blue-grey darken-0">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ item.name }}</span>
                                    <p>
                                        Quantity: {{ item.quantity }}. <br> List: {{ item.list_name }} <br>
                                        Favourite: {{ item.favourite }} <br> Urgent {{ item.urgent }} <br>
                                        Description {{ item.description }}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'edit_ext_item' item.slug %}" class="btn blue">Edit</a>
                                    <a href="{% url 'delete_ext_item' item.slug %}" class="btn red">Delete</a>
                                    <form class="" action="{% url 'mark_as_bought' item.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if item.bought %}
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" checked="checked" value="{{ item.slug }}"/>
                                                <span>Mark As Bought</span>
                                            </label>
                                        </p>
                                        {% else %}
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" value="{{ item.slug }}"/>
                                                <span>Mark As Bought</span>
                                            </label>
                                        </p>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </li>   
                    {% endif %}
                    {% endfor %}
                    <h4>Bought Items</h4>
<!-- Items List: Items that are marked as bought -->
                    {% for item in itemsextended %}
                    {% if item.bought %}
                        <div class="col s12 m12">
                            <div class="card blue-grey darken-0">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ item.name }}</span>
                                    <p>
                                        Quantity: {{ item.quantity }}. <br> List: {{ item.list_name }} <br>
                                        Favourite: {{ item.favourite }} <br> Urgent: {{ item.urgent }} <br>
                                        Description: {{ item.description }}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'edit_ext_item' item.slug %}" class="btn blue">Edit</a>
                                    <a href="{% url 'delete_ext_item' item.slug %}" class="btn red">Delete</a>
                                    <form class="" action="{% url 'mark_as_bought' item.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if item.bought %}
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" checked="checked" value="{{ item.slug }}"/>
                                                <span>Mark As Bought</span>
                                            </label>
                                        </p>
                                        {% else %}
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" value="{{ item.slug }}"/>
                                                <span>Mark As Bought</span>
                                            </label>
                                        </p>

                                        {% endif %}
                                    </form>
                              </div>
                            </div>
                        </div>  
                    {% endif %}          
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{% url 'create_extended_item' %}" class="btn-large light-blue darken-2">
            Add Item <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

{% endblock %}