{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Items</h3>

{% if user.is_authenticated %}
<div class="container_fluid">
    <div class="row">
        <div class="col-12 mt-1 center">
            <div class="row">
                {%if "deleteitem" in message.tags %}
                    <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
                {% endif %}
                {%if "updateitem" in message.tags %}
                    <p class="messages alert alert-success" style="text-align: center;">  {{message}} </p> 
                {% endif %}
                <ul class="collection with-header, col-6 mt-1 center">
                    {% for item in itemsextended %}
                        <li class="col s12 m12">
                            <div class="card">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ item.name }}</span>
                                    <p>
                                        Quantity: {{ item.quantity }}. <br> List: {{ item.list_name }}
                                        {% if item.favourite %} <br> Favourite {% endif %} 
                                        {% if item.urgent %} <br> Urgent {% endif %}
                                        <br> Description {{ item.description }}
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'edit_ext_item' item.slug %}" class="btn blue">Edit</a>
                                    <a href="delete_{{item.slug}}" class="waves-effect waves-light btn red modal-trigger" data-target="delete_{{item.slug}}">Delete</a>

                                    <!-- Toggling between bought and to buy status -->
                            
                                    <!-- Delete Item Modal Structure -->
                                    <div id="delete_{{item.slug}}" class="modal bottom-sheet white-text">
                                        <div class="modal-content">
                                            <h4>Are you sure you want to delete {{ item.name }}?</h4>
                                            <p>Click "Yes" to confirm or "No" to return.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'delete_ext_item' item.slug %}" class="waves-effect waves-red btn red">YES</a>
                                            <a class="modal-close waves-effect waves-green btn green darken-2">NO</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>   
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 center">
        <a href="{% url 'create_extended_item' %}" class="btn-large waves-effect waves-light blue">
            Add Item <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% else %}
<div class="center">
    <h2>This content is available for logged in users only.</h2>
    <h3>Register and Sign Up to display this page.</h3>
</div>
{% endif %}

{% endblock %}