{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Display List</h3>

<div>
    <ul class="collection with-header">
        <li class="collection-header"><h4>List: {{ slug }}</h4></li>
        {% for item in items %}
        {% if not item.bought %}
            <ul class="collapsible card blue-grey darken-0">
                <li>
                    <div class="collapsible-header brand-logo card blue-grey darken-0 white-text">
                        <h5>{{ item.name }}: {{ item.quantity }}</h5>
                    </div>
                    <div class="card blue-grey darken-0 white-text align-center">
                        <a href="{% url 'mark_as_bought' item.slug %}" 
                            class="btn-floating btn-large waves-effect waves-light green grey-text"
                            method="POST">
                            <i class="material-icons">  +  </i>
                        </a>
                    </div>
                    <div class="collapsible-body card blue-grey lighten-3 white-text">
                        <span>
                            <a href="{% url 'edit_item' item.slug %}" class="btn blue">Edit</a>
                            <a href="{% url 'delete_item' item.slug %}" class="btn red">Delete</a>
                        </span>
                    </div>
                </li>
            </ul>
        {% endif %}
        {% endfor %}

    <h4>Bought Items</h4>

        {% for item in items %}
        {% if item.bought %}
            <ul class="collapsible card blue-grey darken-0">
                <li>
                    <div class="collapsible-header brand-logo card blue-grey darken-0 white-text">
                        <h5>{{ item.name }}: {{ item.quantity }}</h5>
                    </div>
                    <div>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </div>
                    <div class="card blue-grey darken-0 white-text">
                        <a href="{% url 'mark_as_bought' item.slug %}" 
                            class="btn-floating btn-large waves-effect waves-light red grey-text"
                            method="POST">
                            <i class="material-icons">  -  </i>
                        </a>
                    </div>
                    <div class="collapsible-body card blue-grey lighten-3 white-text">
                        <span>
                            <a href="{% url 'edit_item' item.slug %}" class="btn blue">Edit</a>
                            <a href="{% url 'delete_item' item.slug %}" class="btn red">Delete</a>
                        </span>
                    </div>
                </li>
            </ul>
        {% endif %}
        {% endfor %}
    </ul>
</div>
    
<div class="row">
    <div class="col s12 center-align">
        <a href="{% url 'add_item' %}" class="btn-large light-blue darken-2">
            Add New Item <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

{% endblock %}